Click==7.0
dlib==19.17.0
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.17.0
opencv-python==4.1.0.25
Pillow==8.3.2
Werkzeug==0.15.5
